<h2 class="blog-post-title">Bio</h2>
<!-- <p class="entry-header-meta">As the sole proprietor of this &lt;html&gt; tag..</p> -->
<p class="entry-header-meta">This blog is venture-funded.</p>

<div class="entry">
	<p class="entry-title">Needlessly wordy conspectus about myself</p>
	<p class="entry-desc">
	  This author grew up in the small colonial town of Litchfield, <b>Connecticut</b>. A number of uneventful things happened there. He left shortly after to attend the <b>University of Virginia</b> where he accumulated credits in cognitively undemanding subjects like business and philosophy. He also sang in an a capella group, wrote for a <b>humor publication</b>, frequented a debating society, and from time to time attended class. Despite his greatest desire to remain at the university forever, a minor administrative oversight involving the incorrect rounding of <b><a href="https://en.wikipedia.org/wiki/Floating_point">floats</a></b> gave him one credit too many and he was promptly graduated. Keen not to stay on his parents' futon forever, he found inspiration in the classic movie “Sleepless in <b>Seattle</b>” and decided to move there where he still lives, works, and gets wet.
	</p>
</div>

<div class="entry">
	<p class="entry-title">The basic gist</p>
	<p class="entry-desc">
		I'm a <b>Software Engineer</b> at <b>Amazon</b>. I build <b>distributed systems</b> to handle high-throughput data workflows. My other interests include Genetics, <b>Neuroscience</b>, AI, Eduction, IoT, and <b>MOOCs</b>. Outside of work I enjoy <a href="http://www.goodreads.com/user/show/3966837-brendan-fortuner" target="_blank">reading</a> Isaac Asimov novels, attending Startup Weekends, cooking in my crockpot, sailing, hiking, snowboarding, and playing piano, soccer, tennis, <b>yoga</b>, golf and go (board game).
	</p>
</div>

<div class="entry">
	<p class="entry-title">Show me the money</p>
	<p class="entry-desc">
		You can find my resume <a href="https://s3-us-west-2.amazonaws.com/bfortuner-personal/Brendan_Fortuner_Resume.pdf">here</a>. You can win a million dollars if you click <a href="mailto:bfortuner@gmail.com?Subject=Howdy!" target="_blank">here</a>.
	</p>
</div>