<h2 class="blog-post-title">Bio</h2>
<!-- <p class="entry-header-meta">As the sole proprietor of this &lt;html&gt; tag..</p> -->
<p class="entry-header-meta">This blog is venture-funded.</p>

<div class="entry">
	<p class="entry-title">Needlessly wordy conspectus about myself</p>
	<p class="entry-desc">
	  This author grew up in the small colonial town of Litchfield, Connecticut. A number of uneventful things happened there. After 18 years, brimming with ambition and his parents' cash, he left to attend the University of Virginia where he accumulated credits in cognitively demanding subjects like business and lunch. He also sang in an a capella group, wrote for a humor publication, frequented a debating society, and from time to time, attended class. Despite his greatest desire to remain at the university forever, a minor administrative oversight involving the incorrect rounding of <a href="https://en.wikipedia.org/wiki/Floating_point">floats</a> gave him one credit too many and he was promptly graduated. Keen to not stay on his parents' futon forever, he put in some solid Netflix time where he discovered the classic movie “Sleepless in Seattle.” He quickly fell in love with the city and with Meg Ryan and moved to Seattle soon after where he still lives, works, and gets wet.
	</p>
</div>

<div class="entry">
	<p class="entry-title">The general gist</p>
	<p class="entry-desc">
		I'm a <b>Software Engineer</b> at <b>Amazon</b>. I live in <b>Seattle</b>. My interests include Neuroscience, <b>Genetics</b>, AI, Eduction, and founding a <b>company</b>. My hobbies include <b>soccer</b>, piano, tennis, golf, swimming, snowboading, hiking, <b>yoga</b>, and crockpot cooking. Etcetera, <b>etcetera</b>. 
	</p>
</div>

<div class="entry">
	<p class="entry-title">Show me the money</p>
	<p class="entry-desc">
		You can find my resume <a href="./assets/img/resume.pdf">here</a>. You can win a million dollars if you click <a href="mailto:bfortuner@gmail.com?Subject=Howdy%20partner!" target="_blank">here</a>.
	</p>
</div>