<!-- <div style='background-image:url("./assets/img/tiles2.png"); background-color: #f0f0f0;' class="site-wrapper"> -->
 <div style="padding-top:30px;" class="container">
    <!--   <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Posts</a></li>
            <li role="presentation"><a href="#">Projects</a></li>
            <li role="presentation"><a href="#">About</a></li>
          </ul>
        </nav>
        <h2 class="text-muted">Brendan Fortuner</h2>
      </div> -->

      <div class="row">

        <div class="col-sm-3 blog-sidebar">
          <div class="sidebar-module">
          <h3>Brendan Fortuner</h3>
          <ul class="nav nav-item">
          	<nav>
							<li class="active"><a [routerLink]="['/Posts']">Posts</a></li>
							<li><a [routerLink]="['/Projects']">Projects</a></li>
							<li><a [routerLink]="['/Bio']">Bio</a></li>
						</nav>
          </ul>
          </div>
          <div class="sidebar-module">
            <h4>About</h4>
            <!-- <img class="resizingimg" src="./assets/img/profilepic.jpg"/> -->
						<p>
							Software Engineer @Amazon in Seattle. Interests include Neuroscience, 
              Genetics, AI, Eduction, and founding a company.
						</p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="http://github.com/bfortuner">GitHub</a></li>
              <li>
              	<a href="http://www.linkedin.com/in/bfortuner">LinkedIn</a>
              </li>
              <li>
              	<a href="http://www.goodreads.com/user/show/3966837-brendan-fortuner">Goodreads</a>
              </li>
              <li>
              	<a href="http://medium.com/@bfortuner/publications">Medium</a>
              </li>
              <li>
                <a href="http://www.facebook.com/bfortuner">Facebook</a>
              </li>
              <li>
                <a href="https://s3-us-west-2.amazonaws.com/bfortuner-personal/Brendan_Fortuner_Resume.pdf">Resume</a>
              </li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

        <div class="col-sm-9 blog-main">

        	<div class="blog-post">
            <router-outlet></router-outlet>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Hacked together with <a href="https://github.com/bfortuner/blog-angular2">Angular 2.0</a></p>
    </footer>