.post {
	margin-bottom:18px;
}
.post-title {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top:0px;
  padding-top:0px;
  padding-bottom:0px;
  font-size: 1.3em;
}

.post-title a {
  color: #333;
}

.post-desc {
  font-size: .9em;
  line-height: 1.4;
}